doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Documentation API - Port de Plaisance
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav.menu
      ul
        li: a(href="/") Accueil
        li: a(href="/catways") Catways
        li: a(href="/reservations") Réservations
        li: a(href="/users") Utilisateurs
        li: a(href="/docs") Documentation

    .main
      .doc-container
        h1 Documentation de l'API
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisi vel consectetur interdum, nisl nisi viverra est, at lacinia magna elit a lacus. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras vehicula velit id lorem sagittis, nec porta arcu posuere. Sed tincidunt, ipsum nec fermentum sagittis, sapien sapien fermentum turpis, nec placerat risus nunc sit amet purus. Quisque id varius lacus. Integer cursus ex in lacinia vulputate. Etiam eleifend felis eu nisi porta, nec blandit libero luctus. Aliquam sit amet libero nec mi laoreet fermentum. Sed pulvinar facilisis nulla.

        p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam imperdiet ligula vitae nisi volutpat, eget consequat felis pretium. Curabitur at luctus odio. Morbi fringilla sapien sit amet mi vestibulum, non tempus tortor accumsan. Vivamus gravida, eros ut tincidunt laoreet, sem arcu feugiat nulla, et imperdiet ex erat at augue. Proin a libero eget turpis eleifend dapibus. Nam eu nisi eget nisl sollicitudin luctus. Etiam vitae ex a justo convallis lobortis. Nunc tincidunt metus a nulla tristique vehicula. Mauris iaculis laoreet tortor, sit amet fermentum elit sagittis sed.

       
