extends layoutAccueil

block content
  h1 Bienvenue sur l'API du Port de Plaisance
  if error
    p(style="color:red") #{error}

  form(action="/login", method="POST")
    input(type="text", id="username", name="username", placeholder="Nom d'utilisateur", required)
    input(type="text", id="email", name="email", placeholder="Adresse email", required)
    input(type="password", id="password", name="password", placeholder="Mot de passe", required)
    button(type="submit") Connexion

  // Lien vers la documentation avec espacement
  a(href="/docs", style="margin-top: 20px; display: inline-block;") Accéder à la documentation de l'API
