extends layout

block content
  h1= title
  if error
    p(style="color:red") #{error}

  form(method="POST", action="/login")
    div
      label(for="email") Email :
      input(type="email", name="email", id="email", required)
    div
      label(for="password") Mot de passe :
      input(type="password", name="password", id="password", required)
    div
      button(type="submit") Se connecter

  p
    | Pas encore de compte ? Contactez l'administrateur.

