doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav.menu
      ul
        li: a(href="/") Accueil
        li: a(href="/reservations") Réservations
        li: a(href="/dashboard") Tableau de bord
        li: a(href="/logout") Déconnexion
    div.main
      div.container
        block content
