body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  /* Image de fond locale (dans public/images/port.jpg) */
  background-image: url("/images/port.jpg");
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;

  /* Centrer le contenu */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* Voile sombre pour améliorer la lisibilité */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:transparent;
  z-index: -1;
}

/* Boîte contenant le formulaire */
.container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input::placeholder {
  color: #0077cc; /* bleu, même couleur que ton bouton */
  opacity: 1; /* pour que ce soit bien visible */
}



input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
}







button {
  padding: 10px;
  width: 30%;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

   display: block;       /* force le bouton à se comporter comme un bloc */
  margin: 20px auto 0;  /* centre horizontalement */
}

button:hover {
  background-color: #005fa3;
}

a {
  display: block;
  margin-top: 20px;
  color: #add8e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



nav.menu {
  background-color: #0077cc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

nav.menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

nav.menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav.menu ul li a:hover {
  text-decoration: underline;
}
.container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
